.about{
  @include flex-column-center;
  margin-top: 20px;
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 10px;
  text-align: justify;

  h2{
    font-size: 2em;
    text-transform: uppercase;
  }

  h3{
    color: $main-color;
    font-size: 1.5em;
    margin-bottom: 10px;
  }

  a{
    color: black;
    &:hover{
      color: $main-color;
    }
  }

  .aboutLogo{
    height: 200px;
  }
}