@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #424850;
  height: 100vh;
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
a:visited {
  color: rgba(255, 255, 255, 0.6);
}
a:hover {
  color: white;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #036db3;
}

@media screen and (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navigation {
  width: 100%;
  background: #036db3;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

a.nav-active {
  color: white;
  position: relative;
}
a.nav-active::after {
  content: "";
  background: white;
  width: 0;
  height: 3px;
  position: absolute;
  border-radius: 10px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: navanim 0.4s ease forwards;
  -webkit-animation: navanim 0.4s ease forwards;
}

@keyframes navanim {
  to {
    width: 100%;
  }
}
.header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #036db3;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
}
.header img {
  height: 70px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  max-width: 600px;
  margin: 20px auto 0 auto;
  padding: 10px;
  text-align: justify;
}
.about h2 {
  font-size: 2em;
  text-transform: uppercase;
}
.about h3 {
  color: #036db3;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.about a {
  color: black;
}
.about a:hover {
  color: #036db3;
}
.about .aboutLogo {
  height: 200px;
}

.volunteers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.volunteers .volunteers-cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.volunteers-cards li {
  margin: 8px;
  padding: 15px;
  height: 150px;
  width: 150px;
  border-radius: 20px;
  transition: ease 1.2s all;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.volunteers-cards li:hover {
  transform: scale(1.12);
  background: #036db3;
  transition: ease 0.4s all;
}
.volunteers-cards li:hover .infos {
  opacity: 1;
  transition: ease 0.4s all;
  color: white;
}
.volunteers-cards li img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.volunteers-cards li .infos {
  opacity: 0.3;
  transition: ease 1.2s all;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.6em;
  text-align: center;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.8);
}/*# sourceMappingURL=index.css.map */